# This is a support workflow for DMND.work's fork of `stratum-mining/sv2-tp` to scan the
# upstream for new tags and then merge in our own CI/CD workflow and support files and
# then publish a new downstream tag in the format `${UPSTREAM_TAG}-dmnd.N`. Once this tag is
# pushed, the `dmnd-deploy.yaml` is triggered for each new tag which to deploy an image.
#
# GitHub doesn't usually allow automated commits which add new workflows to a project, so
# we follow the recommended override by resetting the `origin` remote url to include a
# Personal Access Token (PAT) which has been created with read/write permissions to both
# `content` and `workflows`. The token is expected to be configured as a repository secret
# named `PAT_TOKEN`.

name: DMND Sync Upstream Tags
on:
  schedule:
    - cron: "* */12 * * *" # Every 12 hours
  # See: https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows#workflow_dispatch
  workflow_dispatch: {}

jobs:
  check-tags:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_TOKEN }}
          fetch-depth: 0

      - name: Scan upstream tags
        run: |
          UPSTREAM_TAGS=$(git ls-remote --tags https://github.com/stratum-mining/sv2-tp.git \
            | grep -v '\^{}' \
            | grep -oE 'refs/tags/v[0-9]+\.[0-9]+(\.[0-9]+)?' \
            | sed 's#refs/tags/##' \
            | sort -V)
          echo "UPSTREAM_TAGS:"
          echo "$UPSTREAM_TAGS"

          TAGS=$(git tag -l \
            | sed -E 's/-dmnd\.[0-9]+//g' \
            | sort -V)
          echo "TAGS:"
          echo "$TAGS"

          MISSING_TAGS=$(comm -23 \
            <(echo "$UPSTREAM_TAGS" | sort) \
            <(echo "$TAGS"    | sort) \
            | sort -V)
          echo "MISSING_TAGS:"
          echo "$MISSING_TAGS"

          if [ -z "$MISSING_TAGS" ]; then
            echo "No missing tags. Exiting."
            exit 0
          fi

          # Backup the pipeline and deployment to patch into upstream tags.
          cp .github/workflows/dmnd-deploy.yaml /tmp/dmnd-deploy.yaml
          cp Dockerfile /tmp/Dockerfile.dmnd
          cp -R deployment /tmp/dmnd-deployment

          # Fetch tags from upstream.
          git remote add upstream https://github.com/stratum-mining/sv2-tp.git
          git fetch upstream --tags

          # Rewrite the origin url to use a fine-grained personal access token, `PAT_TOKEN`,
          # which has been created with permissions:
          #   content: write
          #   workflows: write
          #
          # This allows us to commit protected workflows into the downstream Git tag.
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          echo "PAT_TOKEN: ${{ secrets.PAT_TOKEN }}"
          git remote set-url origin https://x-access-token:${{ secrets.PAT_TOKEN }}@github.com/${{ github.repository }}.git

          while IFS= read -r TAG; do
            echo "Missing tag found: $TAG"

            # Compute downstream tag, e.g. append -dmnd.N
            DMND_COUNT=$(git tag -l "${TAG}-dmnd.*" | wc -l)
            NEW_TAG="${TAG}-dmnd.$((DMND_COUNT + 1))"

            git checkout "$TAG"
            git switch -c "$NEW_TAG-wip"

            # Copy the deploy workflow
            cp /tmp/dmnd-deploy.yaml .github/workflows/dmnd-deploy.yaml
            cp /tmp/Dockerfile.dmnd Dockerfile
            git add .github/workflows/dmnd-deploy.yaml Dockerfile

            # Copy the Pulumi deployment implementation
            cp -R /tmp/dmnd-deployment deployment
            git add deployment

            git commit -m "Merging DMND downstream workflows into upstream $NEW_TAG"

            echo "Tagging $NEW_TAG"
            git tag "$NEW_TAG"
            echo "Pushing tag..."
            git push origin "$NEW_TAG"
          done <<< "$MISSING_TAGS"
